
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/




@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #6638C0;
$primary2: #C0495E;
$primaryDark: #250F4F;

$primary-invert:  #E7CBE7;

$menu-list-border-left: 3px solid $primary-invert;

$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),

);



@import "~bulma";
@import "~buefy/src/scss/buefy";
/*@import "~materialize-css/dist/css/materialize"; */
/* shadows */
/* https://codepen.io/callmeashish/pen/qPYWyw */
body {
  background-color: $primaryDark;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
#app {
  background-color: $primaryDark;
}
h1, h2 {
  font-weight: lighter;
}
h1 {
  letter-spacing: -1.5;
  font-size: 96px;
}
h2 {
  letter-spacing: -0.5;
  font-size: 60px;
}
.th-wrap {
  font-size: 16px;
  letter-spacing: 0.5px;
}
.notification {
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.panel-heading {
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.dropdown-content {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 0px;
}
.navbar-dropdown {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 0px;
}
.modal-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.modal-card-head {
  border-radius: 0px;
}
.modal-card-foot {
  border-radius: 0px;
}
span {
  font-size: 14px;
  letter-spacing: 0.25px;
}
input {
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: $primary !important;
  color: $primary !important;
  border-style: solid !important;
  border-width: 0px 0px 2px 0px !important;
  padding-bottom: 10px ;
  margin-bottom: 10px;


}
button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: normal;
  text-transform: uppercase;

}
.input {

}
.navbar {

}
.lesson {
  width: 25vh;
  overflow: hidden;


}
.lessonBox {
  width: 100%;
}
.lessonBox2 {
  color: white;
}
.lessonBox2 .lesson {
  width: 17vh;
}
.duration1 {
  height: 100px;
  margin: 10px 0  !important;

}
.duration2 {
  height: 210px;
  margin: 10px 0  !important;

}
.w100 {
  width: 100%;
}
a {
  color:$primary2;

}



